<h2>Exercicios</h2>

<h3>Exercicio 1</h3>

<label for="mes">Escolha um mês</label>
<input type="number" id="mes" (change)="trocarValor($event)" />

@switch (mes) { @case (1) {
<p>janeiro</p>
} @case (2) {
<p>fevereiro</p>
} @case (3) {
<p>março</p>
} @case (4) {
<p>abril</p>
} @case (5) {
<p>maio</p>
} @case (6) {
<p>junho</p>
} @case (7) {
<p>julho</p>
} @case (8) {
<p>agosto</p>
} @case (9) {
<p>setembro</p>
} @case (10) {
<p>outubro</p>
} @case (11) {
<p>novembro</p>
} @case (12) {
<p>dezembro</p>
} @default {
<p>não tem esse mes</p>
} }
<h3>Exercicio 2</h3>
<ul>
  @for(item of itens; track $index){
  <li>{{ item }}</li>
  }@empty {
  <p>Nenhum item na lista</p>
  }
</ul>

<h3>Exercicio 3</h3>
<p>Idade: {{ idade }}</p>
<button (click)="aumenta()">+</button>
<button (click)="diminui()">-</button>
@if(idade>=18){
<p>Acesso permitido</p>
}@else {
<p>Acesso negado</p>
}
<h3>Exercicio 4</h3>
<ul>
  @for(tarefa of tarefas; track $index){
  <li>
    {{ tarefa }}
    <button (click)="eliminaTarefa(tarefa)">Remover</button>
  </li>
  }@empty {
  <p>Nenhum item na lista</p>
  }
</ul>

<h3>Exercio 5</h3>
<label for="status">Escolha um Status</label>
<select id="status" (change)="trocarStatus($event)">
  <option value="pendente">Pendente</option>
  <option value="enviado">Enviado</option>
  <option value="entregue">Entregue</option>
</select>

@switch (status) { @case('pendente'){
<p>Aguardando confirmação</p>
} @case('enviado'){
<p>Pedido a caminho</p>
} @case('entregue'){
<p>Pedido entregue</p>
}@default {
<p>Status desconhecido</p>
} }
<h3>Exercicio 6</h3>
@for(usuario of usuarios; track $index){ 
  @if (usuarios.length ===0) {
<p>Nenhum usuario cadastrado!</p>
}@else {
<p>Nome: {{ usuario.nome }}, idade: {{ idade }}</p>
} }

<h3>Exercicio 7</h3>
@switch (valor) { @case(1){
<p>Um</p>
} @case('Dois'){
<p>2</p>
} @default {
<p>Valor não reconhecido</p>
} }

<h3>Exercicio 8</h3>
<form (submit)="credenciais.email= emailInput.value; credenciais.senha = senhaInput.value; credenciais.enviado= true">
  <label for="email">Email</label>
  <input type="text" id="email" name="email" #emailInput />

  <label for="senha">Senha</label>
  <input type="password" id="senha" name="senha" #senhaInput />

  <button type="submit">Enviar</button>
</form>
@if (credenciais.enviado) {
  @if (credenciais.email === '' || credenciais.senha === '') {
    <p >Campos obrigatórios!</p>
  } @else if (!credenciais.email.includes('@') || credenciais.senha.length < 6) {
    <p>Credenciais inválidas!</p>
  } @else {
    <p>Login bem-sucedido!</p>
  }
}


<h3>Exercício 9</h3>
@for (produto of produtos; track $index) {
  @if (produto.promocao) {
    <p class="promocao">{{ produto.nome }}, R$ {{ produto.preco }}</p>
  } @else {
    <p>{{ produto.nome }}, R$ {{ produto.preco }}</p>
  }
} @empty {
  <p>Nenhum produto cadastrado!</p>
}

<h3>Exercicio 10</h3>
<label for="">Valor 1</label>
<input type="number" id="valor1" (change)="trocarValor1($event)">
<label for="">Valor 2</label>
<input type="number" id="valor2" (change)="trocarValor2($event)">
<select name="operacao" id="operacao" (change)="mudaOperacao($event)">
  <option value="adicao">Adição</option>
  <option value="subtracao">Subtração</option>
  <option value="multiplicacao">Multiplicação</option>
  <option value="divisao">Divisão</option>
</select>

@switch (operacao) {
  @case("adicao"){
    <p>{{valor1 + valor2}}</p>
  }
  @case("subtracao"){
    <p>{{valor1 - valor2}}</p>
  }
  @case("multiplicacao"){
    <p>{{valor1 * valor2}}</p>
  }
  @case("divisao"){
    @if(valor1==0 || valor2==0){
<p>Erro! Divisão por zero</p>
    }@else {
      <p>{{valor1 / valor2}}</p>

    }
  }
}
